body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0E0E0E;
    color: #EE3450;
}
img {
    width: 200px;
    height: 100%;
}